/**
 * Student Name: Yuchen Tu
 * Student Number: 8916304
 */
#img1 {
    width: 200px;
}
body {
    max-width: 100vw;
    width: 99vw;
    margin: auto;
    font: 1em sans-serif;
    padding: 20px;
}

header, footer {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    clear: both;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1 {
    font-variant-caps: small-caps;
    color: #00e1ff;
}

h2 {
    color: #0026ff;
    font-variant-caps: small-caps;
}

footer p {
    font-size: 10px;
    color: rgb(255, 255, 255);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

main {
    float: left;
    margin: 0;
    padding: 5px;
    width: calc(70vw - 20px);
}

aside {
    float: right;
    margin: 0;
    padding: 0.5rem;
    width: calc(30vw - 20px);
    background-image: url("../images/aside.jfif");
}

.mainimg {
    border: 1px solid #000;
    width: 300px;
}

figcaption {
    font-weight: bold;
    font-variant-caps: small-caps;
}

q {
    font-style: italic;
    font-size: large;
    font-family: cursive;
}

ul > li {
    list-style-type: none;
    line-height: 40px;
}

li > a {
    text-decoration: none;
    color: #7e7753;
}

aside a:hover {
    color: #f5e387;
}

nav ul {
    display: flex;
    justify-content: space-around;
}

.main-content {
    display: flex;
}

.nav-dropdown-content{
    display: none;
    flex-direction: column;
}

.nav-dropdown:hover .nav-dropdown-content {
    display: flex;
    position: absolute;
    text-decoration: none;
}

#quotes {
    margin-bottom: 5rem;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }

.grid-item {
    text-align: center;
    width: 100%;
  }

.grid-item img{
    width: 98%;
    clip-path: inset(10px 20px 30px 40px);
}

.main-video {
    margin-top: 0.5rem;
    width: 100%;
}

.submit-btn{
    margin-top: 20px;
}

@media (max-width: 640px) {
    aside {
        float: none;
        margin: 0 0 50px 0;
        padding: 0.5rem;
        width: 100%;
        background-image: none;
    }
    .main-content{
        display: grid;
        width: 100%;
    }
    main {
        width: 100%;
        padding: 0;
    }

    form {
        width: 90%;
        display: grid;
    }
}

@media (min-width: 1680px) {
    body {
        font-size: large;
    }
}